@import url('https://fonts.cdnfonts.com/css/eight-bit-dragon');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
    font-family: 'Gotham Medium';
    src: url('../font/Gotham-font-family/Gotham-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: bold;
    font-family: Montserrat;
}

body {
    background-color: #f6f6f6;
    overflow-x: hidden;
}

.container {
    max-width: 1440px;
    height: 200em;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    z-index: 1;
    flex-direction: column;
    align-items: normal;
    overflow-y: auto;
}

.parallax {
    background-image: url("../img/bodyImg/paralax.png");
    height: 1000px;
    width: 100vw;
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    justify-content: center;
    padding-right: 100px;
}

.penghubungParallax {
    width: 130vw;
    height: 40em;
    margin-left: -10em;
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    position: absolute;
    filter: blur(4vh);
    -webkit-filter: blur(4vh);
    margin-top: 900px;
    z-index: -1;
}

.banner {}

.landingText {
    font-size: 18px;
    color: #161717;
    letter-spacing: 2px;
    font-family: 'Gotham Medium', sans-serif;
    width: 600px;
    text-align: center;
    position: relative;
    height: fit-content;
}

.logoFull {
    display: inline-flex;
    justify-content: center;
    padding: 70px 0px 50px 0;
}

.logoLanding {
    height: 200px;
}

.textlanding {
    margin-top: 0 auto;
    height: auto;
}

.getStarted {
    background: #FF810C;
    color: white;
    font-family: 'Eight Bit Dragon', sans-serif;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.15em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 2em #db700c;
    overflow: hidden;
    position: relative;
    height: 4em;
    padding-right: 4.4em;
    cursor: pointer;
    margin-top: 3em;
}

.getStarted .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.3em;
    width: 3.3em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #FF810C;
    right: 0.3em;
    transition: all 0.3s;
    -webkit-border-radius: 0.7em;
    -moz-border-radius: 0.7em;
    -ms-border-radius: 0.7em;
    -o-border-radius: 0.7em;
}

.getStarted:hover .icon {
    width: calc(100% - 0.6em);
}

.getStarted .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #FF810C;
}

.getStarted:hover .icon svg {
    transform: translateX(0.1em);
}

.getStarted:active .icon {
    transform: scale(0.95);
}

#carouselExampleIndicators {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    max-height: 500px;
}

.carousel-indicators [data-bs-target] {

    margin-top: -20px;
}

.carousel-item img {
    max-width: 100%;
    max-height: 500px;
    height: 500px;
    width: 1000px;
    object-fit: fill;
}

.carousel-inner {
    border-radius: 50px;

}

.carousel button {
    margin: -9rem;
    color: #161717;
}

.arrow {
    width: 50px;
    height: 50px;
}